<!-- Adopted from the free web2py example code https://github.com/mdipierro/web2py-appliances -->
{{response.files.append(URL(r=request,c='static',f='js/ui.core.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.draggable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/ui.resizable.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/fullcalendar.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/fullcalendar.css'))}}
{{extend 'layout.html'}}

<div class="navbar">
    <div class="logo">Notemaster</div>
    <nav>
        <a v-on:click="goto('notebook')">Notes</a>
        <a v-on:click="goto('assignments')">Assignments</a>
        <a href="{{=URL('default', 'mycal')}}">Organizer</a> 
    </nav>
</div>

<h1>My Schedule</h1>

{{=A(T('Add Class'),_href=URL('appointment_create'))}}
<br/>
<script type='text/javascript'>

  jQuery(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
      //  var m = date.getMonth();
      //  var y = date.getFullYear();

        $('#calendar').fullCalendar({
            editable: false,
            events: [
            {{for i,row in enumerate(rows):}}{{if i!=0:}},{{pass}}
                {
                    title: '{{=row.f_title}}',
                    allDay: false,
                    start: new Date('{{=row.f_start_time.strftime('%B %d, %Y %H:%M:%S')}}'),
                    url: '{{=URL('appointment_delete',args=row.id)}}'
                }
            {{pass}}
            ]
        });

    });
</script>
<div id='calendar'></div>
