.navbar {
    background-color: #eeeeee;
    border: solid #cccccc;
    border-width: 1px;
}

#calendar_page .navbar {
   background-color: transparent;
}

.navbar .logo {
    float: left;
    margin: 15px 0 0 30px;
    display: inline-block;
    color: dimgray;
    font-size: 20px;
    font-weight: 700;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.navbar nav {
    float: right;
    margin: 30px 30px 0 0;
}

.navbar nav a {
    display: inline-block;
    margin-left: 20px;
    color: dimgray;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar nav a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

body {
    background-color: lightblue;
}

header {
    height: 570px;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.50),
            rgba(0, 0, 0, 0.50)
        ),
        url(http://gratisography.com/pictures/346_1.jpg)
        no-repeat center;
    background-size: cover;
    margin-bottom: -20px;
}

header .logo {
    float: left;
    margin: 15px 0 0 30px;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

header nav {
    float: right;
    margin: 30px 30px 0 0;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

header nav a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.05em;
    clear: both;
    padding-top: 100px;
}

header h1 span {
    display: inline-block;
    padding: 0.2em 0.5em;
    text-shadow: none;
    margin-bottom: 20px;
}

header .caption {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: #eeeeee;
    line-height: 1;
}

header .button_container {
    margin-top: 40px;
}

header .signup_button {
    background-color: mediumseagreen;
    display:block; width:600px; margin:0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #eeeeee;
    line-height: 1;
    text-transform: inherit;
}

.about {
    height: 350px;
    background:
        linear-gradient(
            rgba(147, 112, 219, 0.90),
            rgba(147, 112, 219, 0.90)
        ),
        url(http://previews.123rf.com/images/mastakas/mastakas1402/mastakas140200011/25526679-Black-and-White-Printed-Circuit-Board-Seamless-Background-with-Pattern-in-Swatches-Stock-Vector.jpg)
        no-repeat center;
    background-size: cover;
}

.about h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    color: white;
    padding: 75px 0 50px 0;
}

.about p {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: #eeeeee;
    line-height: 1;
}

footer {
    background-color: gray;
    background-size: cover;
}

footer .lockup {
    padding: 30px 30px;
    overflow: auto;
    zoom: 1;
}

footer .lockup .logo {
    float: left;
    margin: 2px 50px 0 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

footer .lockup .content-wrap {
    float: left;
}

footer .lockup .content-wrap .copyright {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

footer .lockup .content-wrap a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 30px;
}

footer .lockup .content-wrap a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#sidebar-closed {

}

#sidebar-open {

}

#courses_btn_group .btn {
    margin-bottom: 2px;
    width: 216px;
}

#courses_btn_group .fa-book {
    float: left;
}

#add_course_row {
    margin-bottom: 5px;
}

#add_course_input {
    height: 31px;
}

.course_collapse {
    margin-bottom: 5px;
}

.search_input{
    border:2px solid #456879;
	height: 35px;
	width: 740px;
    border: solid #cccccc;
    border-width: 1px;
	border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 35px;
    float: left;
}

.search_div button {
    float: right;
}

.note_block {
    width: 836px;
	height: 320px;
	border: solid #cccccc;
	border-width: 1px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.note_list .post {
    background-color: white;
    border-color: white;
}

.note_details input {
	border: solid #cccccc;
	border-width: 1px;
    border-radius: 2px;
}

.sidebarboxed{
  border-width: 1px;
    border-style: solid;
  margin: 20px 0px 20px 0px;
  padding: 20px;
    width: 250px;
    position: static;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}
.sidebarboxed_open{
  border-width: 1px;
    border-style: solid;
  margin: 20px 0px 20px 0px;
  padding: 20px;
    width: 450px;
    position: static;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.mainpanel_container{
  border-width: 1px;
    border-style: solid;
  margin: 20px 0px 20px 0px;
  padding: 20px;
    min-height: 100%;
    min-width: 100%;
    position: static;

}
.topleft {
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: 18px;
}

/*resulting table from adding assignments*/
result_table{
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 700px;
    border-collapse:
    collapse; border-spacing: 0;
    font-size: large;
}
td, th {
/*border: 1px solid transparent;  No more visible border */
    border: 1px solid black;
    text-align: center;
    height: 20px;
    transition: all 0.3s; /* Simple transition for hover effect */
    width: 200px;
    text-align: center;
    font-size: large
}
th {
    background: #DFDFDF; /* Darken header a bit */
    font-weight: bold;
    text-align: center;
}
td {
    background: #FAFAFA;
    text-align: center;
}
/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }
/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
