{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <h2>Posts</h2>


    <div id="vue-div" class="display:none">
        <div class="button_bar">
            <button class="btn btn-danger btn-sm" v-if="!is_adding_or_editing()"  v-on:click="add_post_button()"  v-bind:class="{'disabled': !logged_in}">
                    <i class="fa fa-plus"></i>Add new post
            </button>
             <button class="btn btn-danger btn-sm" v-if="is_adding_or_editing()"  v-on:click="cancel_post_button()" >
                    <i class="fa fa-close"></i>Cancel
            </button>
        </div>

        <template id="add_post_template" v-if = "is_adding_post">
            <div id="add_post_div">
                <div id="new_post_text" class ="row">
                    <textarea v-model="form_post_content">
                    </textarea>
                </div>
                <div id = "add_post_btn" class = "row">
                    <button class="btn btn-danger btn-sm col-md-offset-9" v-on:click="add_post()">
                        <i class="fa fa-plus"></i>Post
                    </button>
                </div>
            </div>
        </template>


        <div class="post_list" >
            <div class="post" v-for="post in posts">
                <div class="post_listing" v-if="!is_idx_being_edited(post._idx)">
                    <p class ="post-content center-block" v-model="post.post_content">
                        ${post.post_content}
                    </p>
                    <div style="color: blue" class="post_details row">
                        <div class = "col-md-3"> ${post.author_name} </div>
                        <div class = "col-md-3"> created ${post.created_on} </div>
                        <!-- add updated_on info if post has been updated since creation -->
                        <div class = "col-md-3" v-if="post.updated_on!=post.created_on">
                            updated ${post.updated_on} </div>
                    </div>
                    <div class="row_buttons" v-if="user_email==post.author_email">
                        <i class="fa fa-trash-o" id="del_post_btn" v-on:click="delete_post(post._idx)"></i>
                        <i class="fa fa-pencil" id="edit_post_btn" v-on:click="edit_post_button(post._idx)" v-bind:class="{'disabled': is_adding_post}"></i>
                    </div>
                </div>

                <template id="edit_post_template" v-if ="is_idx_being_edited(post._idx)">
                    <div id="edit_post_div">
                        <div id="edit_post_text" class ="row">
                            <textarea  v-model="form_edit_content">
                            </textarea>
                        </div>
                        <div id = "post_changes_btn" class = "row">
                            <button class="btn btn-danger btn-sm col-md-offset-9" v-on:click="edit_post()">
                                <i class="fa fa-plus"></i>Post changes
                            </button>
                        </div>
                    </div>
                </template>

            </div>

            <div v-if="has_more" class="load_more">
                <button class="btn btn-default" v-on:click="load_more()">Load more</button>
            </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

